html {
  box-sizing: border-box;
  height: 100%;
}

h2 {
  margin-top: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #3592DA;
  background: -webkit-radial-gradient(center, #3592DA, #011C28);
  background: -moz-radial-gradient(center, #3592DA, #011C28);
  background: radial-gradient(ellipse at center, #3592DA, #011C28);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
span.resultado {
  position: relative;
  width: 100%;
}
.resultado-enter {
  transition: .5s;
}
.resultado-enter.resultado-enter-active{
  transform: translateY(0%);
}
.resultado-exit{
  transform: translateY(0);
  transition: .5s;
  position : absolute;
  left: 0;
  bottom : 0;
  right: 0;
}
.resultado-exit-active{
  opacity: 0;
  transform: translateY(-10%);
}
